
      <article class="blog active" data-page="blog">

        <header>
          <h2 class="h2 article-title">Blog</h2>
        </header>

        <section class="blog-posts">

          <ul class="blog-posts-list">

            <li class="blog-post-item">
              <a href="https://docs.flutter.dev/resources/architectural-overview" target="_blank"
                rel="noopener noreferrer">

                <figure class="blog-banner-box">
                  <img src="./assets/images/blog/FLUTTER-scaled.jpg" alt="Introduction to Flutter" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Flutter</p>

                    <span class="dot"></span>

                    <!-- <time datetime="2024-03-01">Mar 1, 2024</time> -->
                  </div>

                  <h3 class="h3 blog-item-title">Introduction to Flutter</h3>

                  <p class="blog-text">
                    A comprehensive guide to getting started with Flutter, including setup, basic widgets, and first
                    steps in cross-platform development.
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="https://developer.android.com/courses/android-basics-compose/course?gad_source=1&gclid=EAIaIQobChMIurrSwP-GiAMVMKloCR10nz1eEAAYASAAEgLtnfD_BwE&gclsrc=aw.ds"
                target="_blank" rel="noopener noreferrer">

                <figure class="blog-banner-box">
                  <img src="./assets/images/blog/Android-basics-in-compose-social-V2.png" alt="Jetpack Compose Basics"
                    loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Jetpack Compose</p>

                    <span class="dot"></span>

                    <!-- <time datetime="2024-03-15">Mar 15, 2024</time> -->
                  </div>

                  <h3 class="h3 blog-item-title">Jetpack Compose Basics</h3>

                  <p class="blog-text">
                    An introductory post on Jetpack Compose, covering the fundamentals of declarative UI development in
                    Android.
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="https://kotlinlang.org/docs/multiplatform.html" target="_blank" rel="noopener noreferrer">

                <figure class="blog-banner-box">
                  <img src="./assets/images/blog/kotlin-multi.jpg" alt="Getting Started with Kotlin Multiplatform"
                    loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Kotlin Multiplatform</p>

                    <span class="dot"></span>

                    <!-- <time datetime="2024-05-01">May 1, 2024</time> -->
                  </div>

                  <h3 class="h3 blog-item-title">Getting Started with Kotlin Multiplatform</h3>

                  <p class="blog-text">
                    Learn how to leverage Kotlin Multiplatform to share code between Android, iOS, and other platforms.
                    This post covers setup, basics of code sharing, and integrating with existing projects.
                  </p>

                </div>

              </a>
            </li>

          </ul>

        </section>

      </article>