<article class="contact active" data-page="contact">

  <header>
    <h2 class="h2 article-title">Contact</h2>
  </header>

  <section class="mapbox" data-mapbox>
    <figure>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25575.25026690835!2d3.8115772902696525!3d36.748820511739844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128dda245e127465%3A0x45bd46717eaac0d1!2sNaciria!5e0!3m2!1sfr!2sdz!4v1724276588784!5m2!1sfr!2sdz"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </figure>
  </section>

  <section class="contact-form">
    <h3 class="h3 form-title">Contact Form</h3>

    <form role="form"
          action="mailto:belmokhtar_idir.fs@univ-boumerdes.dz"
          method="post"
          enctype="text/plain"
          data-form>

      <div class="input-wrapper">
        <input type="text" name="Full Name" class="form-input" placeholder="Full name" required>
        <input type="email" name="Email" class="form-input" placeholder="Email address" required>
      </div>

      <textarea name="Message" class="form-input" placeholder="Your Message" required></textarea>

      <button class="form-btn" type="submit">
        <ion-icon name="paper-plane"></ion-icon>
        <span>Send Message</span>
      </button>
    </form>
  </section>

</article>