
      <article class="resume active" data-page="resume">

        <header>
          <h2 class="h2 article-title">Resume</h2>
        </header>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Experience</h3>
            <button id="downloadCvButton" class="form-btn" type="button">
              <ion-icon name="paper-plane"></ion-icon>
              <span>Download CV</span>
            </button>

            <script>
              document.getElementById('downloadCvButton').addEventListener('click', function () {
                window.open('https://drive.google.com/file/d/1dzeCa9pIAH21qL_s2bHDWp86PV4lruRR/view?usp=sharing', '_blank');
              });
            </script>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Full Stack Developer</h4>
              <a href="https://bpremier.org" target="_blank" rel="noopener noreferrer">
                <span>
                  Eurl B Premier
                </span>
              </a>
              <span>09/2024 — Present</span>
              <p class="timeline-text">
                Development of mobile applications using Flutter for seamless user experiences, with a focus on
                integrating secure and scalable back-end systems built with Laravel.
              </p>

              <p class="timeline-text">- Maintain highly responsive and intuitive mobile user interfaces using Flutter.
              </p>
              <p class="timeline-text">- Engineered secure and scalable back-end solutions with Laravel.</p>
              <p class="timeline-text">- Implemented RESTful APIs.</p>

              </p>

            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Mobile Developer Flutter</h4>
              <a href="https://deeplyfe.org" target="_blank" rel="noopener noreferrer">
                <span>
                  DeepLyfe.inc
                </span>
              </a>
              <span>02/2024 — 07/2024</span>
              <p class="timeline-text">
                Conception and development of a SaaS application for human resource management, accessible via mobile.
              </p>

              <p class="timeline-text">- Developed mobile user interfaces using Flutter.</p>
              <p class="timeline-text">- Implemented backend solutions with Laravel to manage data.</p>
              <p class="timeline-text">- Collaborated with teams for seamless integration of front-end and back-end
                components.</p>

            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Mobile Development Mentor</h4>
              <a href="https://gdsc.community.dev/mhamed-bougara-university-boumerdes-algeria/" target="_blank"
                rel="noopener noreferrer">
                <span>GDSC University of Boumerdes</span>
              </a>
              <span>09/2022 — 06/2024</span>
              <p class="timeline-text">
                Organized workshops and practical sessions, mentoring on mobile development projects.
              </p>
            </li>

          </ol>


        </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Master's in Information Technologies</h4>
              <span>University M’Hamed BOUGARA Boumerdes, Algeria</span>
              <span>2022 — 2024</span>
              <p class="timeline-text">
                Master’s program focused on advanced information technologies, preparing for high-level technical roles.
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Bachelor's in Computer Systems</h4>
              <span>University M’Hamed BOUGARA Boumerdes, Algeria</span>
              <span>2018 — 2022</span>
              <p class="timeline-text">
                Undergraduate degree in computer systems, providing a strong foundation in software and hardware
                technologies.
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Baccalaureate in Mathematics</h4>
              <span>HIGH SCHOOL Hocine AIT AHMED, Naciria</span>
              <span>2017 — 2018</span>
              <p class="timeline-text">
                High school diploma with a focus on mathematics, preparing for higher education in technical fields.
              </p>
            </li>

          </ol>

        </section>


        <!-- 
          <section class="skill">

          <ul class="skills-list content-card">

            <li class="skills-item">
              
              <div >
                <p class="timeline-text">
                  Download my CV to explore my professional profile, skills, and experience.
                </p>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">WordPress</h5>
                <data value="50">50%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 50%;"></div>
              </div>

            </li>

          </ul>

        </section> 
      -->

      </article>