<aside class="sidebar" data-sidebar>

  <div class="sidebar-info">

    <figure class="avatar-box">
      <img src="../assets/images/idir.jpg" alt="Idir Belmokhtar" width="80" style="border-radius: 20%; padding: 1px;">
    </figure>

    <div class="info-content">
      <h1 class="name" title="Idir Belmokhtar">Idir Belmokhtar</h1>

      <p class="title">Mobile and Web Developer</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>

      <ion-icon name="chevron-down"></ion-icon>
    </button>

  </div>

  <div class="sidebar-info_more">

    <div class="separator"></div>

    <ul class="contacts-list">

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Email</p>

          <a href="mailto:belmokhtar_idir.fs@univ-boumerdes.dz"
            class="contact-link">belmokhtar_idir.fs@univ-boumerdes.dz</a>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="phone-portrait-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Phone</p>

          <a href="tel:+213556109446" class="contact-link">+213 556 10 94 46</a>
        </div>

      </li>

      <!-- <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Birthday</p>

              <time datetime="1982-06-23">June 23, 1982</time>
            </div>

          </li> -->

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Location</p>

          <address>Algeria, DZ</address>
        </div>

      </li>

    </ul>

    <div class="separator"></div>

    <ul class="social-list">


      <li class="social-item">
        <a href="https://github.com/IdirBelmokhtar" class="social-link">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>
      <li class="social-item">
        <a href="https://wa.me/qr/2AHLBJRUBVTLG1" class="social-link">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </a>
      </li>
      <li class="social-item">
        <a href="https://www.linkedin.com/in/idir-belmokhtar-888399232/" class="social-link">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>
      <!-- <li class="social-item">
            <a href="https://web.facebook.com/idir.belmokhtar/" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li> -->

    </ul>

  </div>

</aside>